@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .custom-list-item::before {
    content: '•'; /* Unicode character for a bullet point */
    color: #ff0000; /* Change this color to the desired color */
    margin-right: 0.5rem; /* Optional: Adjust the spacing between the dot and the text */
  }
}